{% extends "pokhara/layout.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block body %}

<div>
    {% block navbar %}
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link post-user" href="{% url 'user-posts' user.id 1 %}"><strong>  {{ user.username }}</strong></a>
            </li>
        {% endif %}

        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">All Posts</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new_post' %}"> Create </a>
            </li>
        </ul>
        {% else %}
        <textarea class="form-control" aria-label="With textarea" name="content" disabled>You need to be signed in</textarea>
        {% endif %}
    {% endblock %}
</div>
<br>
<br>
    <div id="posts" class = "posts">
        {% for post in posts %}
        <div class="post-item post-content" id="post-item-{{ post.id }}">
            <p class="post-user">
                <a href="{% url 'user-posts' post.user.id 1 %}" class="post-user"> {{ post.user }}</a>
            </p>
            <label class="time-data">{{ post.time }}</label>
            <br/>
            <h3> {{ post.title}}</h3>
            <img src="{{ post.imageUrl }}" alt="{{post.title}}" height = "400px">
            <br>
            <br>
            <br>
            <a href="{% url 'view-post' post.id %}" class="btn btn-primary">View Post</a>
        </div>
        <br>
        <br>
      
          {%endfor%}
<script>

    function like_post(post_id) {
        fetch(`/like_post/${post_id}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById(`like-no-${post_id}`).innerText = data.likes;
            });
    }
</script>
{% endblock %}
