body {
    background-color:black;
    color:white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px;
  }

#bar {
    color: blue;
}

.paragraph {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px;
    border: 1px solid rgb(102, 7, 0);
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.commentsection {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px;
    border: 1px solid rgb(102, 7, 0);
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace; 
}



.navbar-nav {
    flex-direction: row;
    padding: 10px 15px;
    border: 1px solid rgb(102, 7, 0);
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace;	
	text-align: center;
	display: flex;
}

.nav-item, .navbar-brand {
    padding-left: 10px;
    display:flex;
}

#post-form {
    color: white;
    margin: 10px;
}

#posts {
    margin-left: 10px;
    margin-right: 10px;
}

.post-item {
    flex-direction: row;
    padding: 10px 10px;
	border: 1px solid rgb(102, 7, 0);
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

.post-content {
    color: white;
    margin-left: 5px;
    margin-bottom: 1px;
}

.time-data {
    color: blue;
    font-size: medium;
    margin-top: 1px;
}

.like-btn {
    background-color: transparent;
    border: 1px solid red;
    font-size: medium;
}


.like-btn:focus {
    outline: none;
    box-shadow: none;
  }


  

.post-text {
    font-family: Arial;
    font-size: larger;
    margin-bottom: 1px;
}

.post-user {
    color: white;
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.bar-nav {
    background-color: white;
    color: white;
}

#user-head {
    text-transform: capitalize;
    margin-left: 5px;
    color: red;
}

#follow-data {
    font-size: medium;
}

.btn-link {
    padding-left: 1px;
    padding-bottom: 1px;    
    padding-top: 1px;
}

.page-item {
    background-color: blue;
    
}

.navbar {
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    font-size: 16px;
  }
  
  .btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }


.nav-link {
    font-size:14px;
    font-family: "Lucida Console", "Courier New", monospace;
}  
